<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pizzería</title>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/estilos.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="header-examen">
            <h2>Examen Segundo Parcial - Grupo: IDGS805</h2>
        </header>

        {% block content %}{% endblock %}

        <footer class="footer-examen">
            <h2>Eduardo Jesús Tovar Almendarez</h2>
        </footer>
    </div>
</body>
</html>